<!DOCTYPE HTML>
<html>
        <head>
                <title>Kat Triller Add Item</title>
        </head>
        <body>
                <h1>Add Item</h1>
                <form method="post">
                        Content:
                        <input name="content">
                        </br>
                        Child Type:
			</br>
                        <input type="radio" name="childType" value="null">Original Content
			</br>
			<input type="radio" name="childType" value="retweet">Retweet
			</br>
			<input type="radio" name="childType" value="reply">Reply
			</br>
			Parent:
			<input name="parent">
			</br>
                        <input type="submit">
                </form>
                <div>
                </div>
        </body>
</html>
