<html>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/page.css">
  <!-- https://www.w3schools.com/html/html_forms.asp AWESOME Tutorial -->
  <!-- helped a lot in making this form -->
  <body>
    <form method="get" action="/adduser" enctype="application/json">
      Email: <br>
      <input type="text" name="email"><br>
      Username: <br>
      <input type="text" name="username"><br>
      Password: <br>
      <input type="text" name="password"><br>
      <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/verify" target="_blank">Verify Your Account</a>
    <br>
    <a href="/login" target="_blank">Login Here</a>
    <br>
    <a href="/additem" target="_blank">Add Item</a>
    <br>
    <a href="/search" target="_blank">Search</a>
    <br>
    <a href="/logout" target="_blank">Log Out</a>
  </body>
</html>
