<!DOCTYPE HTML>
<html>
	<head>
		<title>Kat-Triller - My Posts</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/page.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="nav column">
			<ul>
				<li><a href="/" class="active"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="/search"><i class="fa fa-search"></i> Search</a></li>
				<li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
			</ul>
		</div>
		<div class="content column">
			<h1>Upload Media</h1>
			<form action="/add_media" method="POST" enctype="multipart/form-data">
				<input type="file" name="content" required>
				<input type="submit" value="Upload" class="regular">
			</form>
			<h1 class="top-padding">Add Item</h1>
			<form method="post" action="/add_item" enctype="application/json">
				<div class="input">
					Content
					<textarea name="content" rows="2" required></textarea>
				</div>
				<input type="hidden" name="childType" value="null">
				<div class="input">
					<div>Attach media to post</div>
					<div class="attach" tabindex="0">
						{% if media == [] %}
							<div class="empty">
								No media to attach... Upload some to see them here!
							</div>
						{% endif %}
						{% for item in media %}
							<input class="media" type="checkbox" name="media" id="{{ item.id }}" value="{{ item.id }}">
							<label class="thumbnail" for="{{ item.id }}">
								<img src="data:;base64,{{ item.content }}"/>
							</label>
						{% endfor %}
					</div>
				</div>
				<input type="submit" value="Post" class="regular">
			</form>
		</div>
		<div class="tweets column">
			<div class="header">
				<h1>Your Posts</h1>
			</div>
			{% if data == [] %}
				<div class="tweet">
					You have not made any posts yet...
				</div>
			{% endif %}
			{% for item in data %}
				<div class="tweet">
					<a href="{{ url_for('get_item', id=item.id) }}" class="tweet-link"></a>
					<div>
						<i class="fa fa-user-circle"></i>
						<a href="{{ url_for('find_user', username=item.username) }}" class="username">{{ item.username }}</a>
						<span class="date">
							&middot {{ item.date }}
						</span>
					</div>
					{% if item.childType == "reply" %}
						<div class="tweet-content">
							Replying to <a href="{{ url_for('get_item', id=item.parent) }}" class="parent">this post</a>
						</div>
					{% endif %}
					{% if item.childType == "retweet" %}
						<div class="tweet-content">
							Retweeting <a href="{{ url_for('get_item', id=item.parent) }}" class="parent">this post</a>
						</div>
					{% endif %}
					<div class="tweet-content">
						{{ item.content }}
					</div>
					{% for img in item.img %}
						<div class="tweet-img">
							<a href="{{ url_for('get_media', media_id=img.id) }}">
								<img class="tweet-img" src="data:;base64,{{ img.content }}"/>
							</a>
						</div>
					{% endfor %}
					<div class="tweet-content">
						<span class="stats">
							<i class="fa fa-thumbs-up"></i> {{ item.property.likes }}
						</span>
						<span class="stats">
							<i class="fa fa-retweet"></i> {{ item.retweeted }}
						</span>
					</div>
					<form method="post" action="/delete_item" enctype="application/json">
						<input type="hidden" name="item_id" value="{{ item.id }}">
						<button class="regular buttons" type="submit">
							Delete <i class="fa fa-trash"></i>
						</button>
					</form>
				</div>
			{% endfor %}
		</div>
	</body>
</html>
