<!DOCTYPE HTML>
<html>
	<head>
		<title>Kat-Triller</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/page.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body class="bg-img">
		<div class="account">
			<div class="center">
				<h1>Welcome to Kat-Triller!</h1>
				<div class="top-padding">
					Trill: /tril/ <span style="font-style:italic">verb</span>
				</div>
				<div class="top-padding">
					Produce a quavering or warbling sound.
				</div>
				<div>
					<div class="button-wrapper">
						<a class="regular buttons" href="/add_user">Sign Up</a>
					</div>
					<div class="button-wrapper">
						<a class="inverted buttons" href="/verify">Verify Account</a>
					</div>
					<div class="button-wrapper">
						<a class="regular buttons" href="/login">Login</a>
					</div>
				</div>
		</div>
		</div>
	</body>
</html>
