<html>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/page.css">

  <body>

    <a href="/adduser" target="_blank">Add An Account</a>
    <br>
    <a href="/verify" target="_blank">Verify Your Account</a>
    <br>
    <a href="/login" target="_blank">Login Here</a>
    <br>
    <a href="/additem" target="_blank">Add Item</a>
    <br>
    <a href="/search" target="_blank">Search</a>
    <br>
    <a href="/follow" target="_blank">Follow</a>
    <br>
    <a href="/delete_item" target="_blank">Delete an item</a>(Separate from directly going to /item/&lt;id&gt;)
    <br>
    <a href="/item_liker" target="_blank">Like an item (need to login first though) </a>
    <br>
    <a href="/addmedia" target="_blank">Add a media!</a>
    <br>
    For all GET Requests, like user/&lt;username&gt;, please directly type it so into the url.
      <br>
    <a href="/logout" target="_blank">Log Out</a>
  </body>
</html>
