<!DOCTYPE HTML>
<html>
	<head>
		<title>Kat-Triller - {{ data.username }}'s Post</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/page.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="nav column">
			<ul>
				<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
				<li><a href="/search"><i class="fa fa-search"></i> Search</a></li>
				<li><a href="/logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
			</ul>
		</div>
		<div class="content column">
			<div style="padding-top:10px;">
				<i class="fa fa-user-circle"></i>
				<span class="username">
					<a href="{{ url_for('find_user', username=data.username) }}">{{ data.username }}</a>
				</span>
				<span class="date">
					&middot {{ data.date }}
				</span>
				{% if data.childType == "reply" %}
					<div class="tweet-content">
						Replying to <a href="{{ url_for('get_item', id=data.parent) }}" class="parent">this post</a>
					</div>
				{% endif %}
				{% if data.childType == "retweet" %}
					<div class="tweet-content">
						Retweeting <a href="{{ url_for('get_item', id=data.parent) }}" class="parent">this post</a>
					</div>
				{% endif %}
				<div class="tweet-content">
					{{ data.content }}
				</div>
				{% for img in data.img %}
					<div class="tweet-img">
						<a href="{{ url_for('get_media', media_id=img.id) }}">
							<img class="tweet-img" src="data:;base64,{{ img.content }}"/>
						</a>
					</div>
				{% endfor %}
			</div>
			<!-- Display only if user is logged in -->
			{% if user %}
				<!-- Like post -->
				<form method="post" action="/like_item" enctype="application/json" class="stats tweet-content">
					<input type="hidden" name="item_id" value="{{ data.id }}">
					<input type="hidden" name="like" value="{{ like }}">
					<button type="submit" class="{{ like }}">
						<i class="fa fa-thumbs-up"></i>
					</button>
					{{ data.property.likes }}
				</form>
				<!-- Retweet post -->
				<form method="post" action="/add_item" enctype="application/json" class="stats">
					<input type="hidden" name="content" value="{{ data.content }}">
					<input type="hidden" name="childType" value="retweet">
					<input type="hidden" name="parent" value="{{ data.id }}">
					<input type="hidden" name="media" value="{{ data.media }}">
					<button type="submit">
						<i class="fa fa-retweet"></i>
					</button>
					{{ data.retweeted }}
				</form>
				<!-- Reply to post -->
				<form method="post" action="/add_item" enctype="application/json" class="top-padding">
					<div class="input">
						Reply to {{ data.username }}
						<textarea name="content" rows="2" required></textarea>
					</div>
					<input type="hidden" name="childType" value="reply">
					<input type="hidden" name="parent" value="{{ data.id }}">
					<div class="input">
						<div>Attach media to reply</div>
						<div class="attach" tabindex="0">
							{% if media == [] %}
								<div class="empty">
									No media to attach... Upload some to see them here!
								</div>
							{% endif %}
							{% for item in media %}
								<input class="media" type="checkbox" name="media" id="{{ item.id }}" value="{{ item.id }}">
								<label class="thumbnail" for="{{ item.id }}">
									<img src="data:;base64,{{ item.content }}"/>
								</label>
							{% endfor %}
						</div>
					</div>
					<input type="submit" value="Reply" class="regular">
				</form>
			{% else %}
				<div class="tweet-content">
					<span class="stats">
						<i class="fa fa-thumbs-up"></i> {{ data.property.likes }}
					</span>
					<i class="fa fa-retweet"></i> {{ data.retweeted }}
				</div>
			{% endif %}
		</div>
		<div class="tweets column">
			<div class="header">
				<h1>Replies</h1>
			</div>
			{% if replies == [] %}
				<div class="tweet">
					No one has replied to this post yet... Be the first!
				</div>
			{% endif %}
			{% for item in replies %}
				<div class="tweet">
					<a href="{{ url_for('get_item', id=item.id) }}" class="tweet-link"></a>
					<div class="tweet-info">
						<i class="fa fa-user-circle"></i>
						<a href="{{ url_for('find_user', username=item.username) }}" class="username">{{ item.username }}</a>
						<span class="date">
							&middot {{ item.date }}
						</span>
					</div>
					<div class="tweet-content">
						{{ item.content }}
					</div>
					{% for img in item.img %}
						<div class="tweet-img">
							<a href="{{ url_for('get_media', media_id=img.id) }}">
								<img class="tweet-img" src="data:;base64,{{ img.content }}"/>
							</a>
						</div>
					{% endfor %}
					<div class="tweet-content">
						<span class="stats">
							<i class="fa fa-thumbs-up"></i> {{ item.property.likes }}
						</span>
						<span class="stats">
							<i class="fa fa-retweet"></i> {{ item.retweeted }}
						</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</body>
</html>
