<!DOCTYPE HTML>
<html>
        <head>
                <title>Kat Triller Search Item</title>
        </head>
        <body>
                <h1>Search Item</h1>
                <form method="post">
                        Item ID:
			</br>
                        <input type="text" name="item_id">
			</br>
			<input type="radio" name="like" value="True" checked="checked"> Like
			</br>
			<input type="radio" name="like" value="False"> Un-Like
			</br>
                        <input type="submit" value="Like Item">
                </form>
                <div>
                </div>
        </body>
</html>
