<!DOCTYPE HTML>
<html>
	<head>
		<title>Kat-Triller - Sign Up</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/page.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- https://www.w3schools.com/html/html_forms.asp AWESOME Tutorial -->
		<!-- helped a lot in making this form -->
	</head>
	<body class="bg-img">
		<div class="account">
			<div class="center">
				<h1>Register</h1>
				<form method="post" action="/add_user" enctype="application/json">
					<div class="input">
						Email
						<input type="text" name="email" required>
					</div>
					<div class="input">
						Username
						<input type="text" name="username" required>
					</div>
					<div class="input">
						Password
						<input type="password" name="password" required>
					</div>
					<input type="submit" value="Register" class="regular">
				</form>
				<div class="top-padding">
					Need to verify your account?
					<a href="/verify" class="account-link">Verify your account</a>
				</div>
				<div class="top-padding">
					Already have a verified account?
					<a href="/login" class="account-link">Login to Kat-Triller</a>
				</div>
				<div class="top-padding error">
					{{ message }}
				</div>
			</div>
		</div>
	</body>
</html>
