<!DOCTYPE HTML>
<html>
	<head>
		<title>Kat Triller Search</title>
	</head>
	<body>
		<h1>Search</h1>
		<form method="post">
			Timestamp:
			<input name="timestamp">
			</br>
			Limit:
			<input type="number" name="limit" max="100">
			</br>
			Query:
			<input name="q">
			</br>
			Username:
			<input name="username">
			</br>
			See posts only from people you follow?
			</br>
			<input type="radio" name="following" value="True">Yes
			</br>
			<input type="radio" name="following" value="False">No
			</br>
			Sort by:
			</br>
			<input type="radio" name="rank" value="time"> Most recent
			</br>
			<input type="radio" name="rank" value="interest"> Most liked/retweeted
			</br>
			Show replies to item id:
			<input name="parent">
			</br>
			Include reply items?
			</br>
			<input type="radio" name="replies" value="True">Yes
			</br>
			<input type="radio" name="replies" value="False">No
			</br>
			Show only items with media?
			</br>
			<input type="radio" name="hasMedia" value="True">Yes
			</br>
			<input type="radio" name="hasMedia" value="False">No
			</br>
			<input type="submit">
		</form>
		<div>
		</div>
	</body>
</html>
